.RecipeForm {
  margin: 0 auto 1rem auto;
  max-width: 500px;
}

.RecipesForm__prep-time {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
}

.RecipeForm__output {
  text-align: center;
  padding: .5rem;
  border: 1px dotted var(--dark-gray);
  margin: 1rem;
}

.RecipeForm__ingredients-list {
  max-width: 500px;
  margin-bottom: 1rem;
}

.Fieldset__title {
  font-size: 1.25em;
  background: var(--light-gray);
  color: var(--accent-color-3);
  width: 100%;
}

.RecipeForm__submit {
  margin: 1rem auto;
  width: 8rem;
}