.LandingPage__list {
  list-style-type: none;
}

.LandingPage__Copy {
  max-width: 500px;
  margin: 0 auto 1rem auto;
}

.LandingPage__ol {
  margin-right: 1rem;
}

.LandingPage__Intro p {
  line-height: 1.5em;
  font-size: 1.25em;
}
