.RecipeCard {
  border: 1px solid;
  border-color: var(--accent-color-1);
  margin: 0 1rem 1rem 1rem;
}

.RecipeCard header {
  margin: 1rem 0;
  background-color: var(--light-gray);
}

.RecipeCard footer {
  background-color: var(--light-gray);
}