.RecipeCardList__List {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  gap: 1rem;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 640px) {
  .RecipeCardList__List {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1024px) {
  .RecipeCardList__List {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1440px) {
  .RecipeCardList__List {
    grid-template-columns: repeat(4, 1fr);
  }
}
