.Recipe__section, .Recipe__ingredients {
  border-bottom: 1px solid var(--dark-gray);
  margin: 1rem;
}


.Recipe__basic-info {
text-align: center; 
}

.Recipe__basic-info__name {
  margin-bottom: 1rem;
}

.Recipe__basic-info__title {
  display: inline;
}

.Recipe__basic-info__line {
  margin-bottom: .75rem;
}

.Recipe__basic-info__name {
  font-size: 1.5em;
}

.Recipe__basic-info__author {
  font-size: 1.25em;
}

.instructions {
  margin: 1rem;
  line-height: 1.5rem;
}