.Header__PrimaryNav {
  margin: 1em auto;
  list-style-type: none;
  display: flex;
}

.PrimaryNav__li {
  margin: 1em auto;
  transform: rotate(-25deg);
  padding: 0.25rem;
  margin: 0.75rem;
}
