.RecipeCard {
  display: flex;
  flex-flow: column;
  border-width: 0 1px;
  border-style: solid;
  border-color: var(--light-gray);
}

.RecipeCard__header {
  padding: 0.25rem 0;
  margin: 0 0 1rem 0;
  background-color: var(--light-gray);
  height: 100%;
}

.RecipeCard__heading {
  margin: 1rem;
}

.RecipeCard__subheading {
  margin-left: 1.75rem;
}

.RecipeCard__line {
  margin-left: 2rem;
}

.RecipeCard__footer {
  background-color: var(--light-gray);
}

.RecipeCard__footer_menu {
  list-style-type: none;
  display: flex;
  background-color: var(--light-gray);
}

.RecipeCard__footer_menu li:first-child {
  margin-left: 1rem;
}

.RecipeCard__footer_menu li {
  margin-right: 1rem;
}
