body {
  margin: 0;
  font-family: var(--base-family), 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  font-family: var(--header-family);
}
h3, h4, h5 {
  font-family: var(--emph-family);
}

a {
  text-decoration: none;
  color: --accent-color-2;
}

a:visited {
  color: --accent-color-3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
